alias Ecto.Adapters.Postgres, as: Postgres
alias Geo.PostGIS.Extension, as: Extension
alias WebSockets.Repo, as: Repo

use Mix.Config

config :comeonin,
  :pbkdf2_rounds, 12

config :dogma,
  override: %{LineLength => [max_length: 120]}

config :exsentry,
  dsn: "..."

config :logger, :console,
  format: "[$date $time] [$level$levelpad] $message\n",
  level: :info,
  utc_log: true

config :websockets,
  broker: "...",
  hostname: "...",
  port: ...,
  secret: "...",
  separator: "..."

config :websockets, Repo,
  adapter: Postgres,
  database: "...",
  extensions: [{Extension, library: Geo}],
  hostname: "...",
  password: "...",
  port: ...,
  username: "..."
