use Mix.Config

config :comeonin,
  pbkdf2_rounds: 12

config :dogma,
  override: %{LineLength => [max_length: 120]}

config :exsentry,
  dsn: "..."

config :logger, :console,
  format: "[$date $time] [$level$levelpad] $message\n",
  level: :info,
  utc_log: true

config :websockets,
  broker: "...",
  hostname: "...",
  port: ...,
  secret: "...",
  separator: "..."

config :websockets, WebSockets.Repo,
  adapter: Ecto.Adapters.Postgres,
  database: "...",
  extensions: [{Geo.PostGIS.Extension, library: Geo}],
  hostname: "...",
  password: "...",
  pool_size: ...,
  port: ...,
  username: "..."
