use Mix.Config

config :exsentry,
  dsn: "..."

config :logger,
  level: :info

config :websockets,
  broker: "...",
  hostname: "...",
  port: ...

config :websockets,
  WebSockets.Repo,
    adapter: Ecto.Adapters.Postgres,
    database: "...",
    extensions: [
      {Geo.PostGIS.Extension, library: Geo},
    ],
    hostname: "...",
    password: "...",
    port: ...,
    username: "..."
